@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

/*--------------------
Color Scheme =======*/

body {
	color: #111111; 
}
.home {
	background-color: #A39493; 
}
.theater {
	background-color: #ADAAA6; 
}
.lodge {
  background-color: #ACA399; 
}
.contemporary {
  background-color: #A6A8B1; 
}

a {
	color: #111111; 
}
a:visited {
	color: #111111; 
}
.well{ min-height:20px; }
.home-page {
  margin: 25px 0 45px 0;
  /* fallback */
  background-color: #694045;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#694045), to(#BFBFBF));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #BFBFBF, #694045);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #BFBFBF, #694045);

  /* IE 10 */
  background: -ms-linear-gradient(top, #BFBFBF, #694045);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #BFBFBF, #694045);
  /* shadow */
  	-webkit-box-shadow: 0 10px 6px -6px #555;
	   -moz-box-shadow: 0 10px 6px -6px #555;
	        box-shadow: 0 10px 6px -6px #555;
}
.theater-page {
  margin-bottom: 45px;
  padding: 15px 55px;
  border-left:1px solid #9E9B97;
  /* fallback */
  background-color: #7C6E61;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7C6E61), to(#BDBCBC));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #BDBCBC, #7C6E61);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #BDBCBC, #7C6E61);

  /* IE 10 */
  background: -ms-linear-gradient(top, #BDBCBC, #7C6E61);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #BDBCBC, #7C6E61);
  /* shadow */
  	-webkit-box-shadow: 0 10px 6px -6px #555;
	   -moz-box-shadow: 0 10px 6px -6px #555;
	        box-shadow: 0 10px 6px -6px #555;
}
.lodge-page {
  margin-bottom: 45px;
  padding: 15px 50px;
  border:1px solid #9C948B;
  /* fallback */
  background-color: #998975;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#998975), to(#BFBFBF));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #BFBFBF, #998975);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #BFBFBF, #998975);

  /* IE 10 */
  background: -ms-linear-gradient(top, #BFBFBF, #998975);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #BFBFBF, #998975);
  /* shadow */
    -webkit-box-shadow: 0 10px 6px -6px #555;
     -moz-box-shadow: 0 10px 6px -6px #555;
          box-shadow: 0 10px 6px -6px #555;
}
.contemporary-page {
  margin-bottom: 45px;
  padding: 15px 50px;
  border-left:1px solid #9C948B;
  /* fallback */
  background-color: #384771;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#384771), to(#BDBDBE));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #BDBDBE, #384771);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #BDBDBE, #384771);

  /* IE 10 */
  background: -ms-linear-gradient(top, #BDBDBE, #384771);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #BDBDBE, #384771);
  /* shadow */
    -webkit-box-shadow: 0 10px 6px -6px #555;
     -moz-box-shadow: 0 10px 6px -6px #555;
          box-shadow: 0 10px 6px -6px #555;
}
.about-page {
  margin-bottom: 45px;
  padding: 15px 50px;
  /* fallback */
  background-color: #694045;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#694045), to(#BFBFBF));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #BFBFBF, #694045);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #BFBFBF, #694045);

  /* IE 10 */
  background: -ms-linear-gradient(top, #BFBFBF, #694045);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #BFBFBF, #694045);
  /* shadow */
    -webkit-box-shadow: 0 10px 6px -6px #555;
     -moz-box-shadow: 0 10px 6px -6px #555;
          box-shadow: 0 10px 6px -6px #555;
}

/*--------------------
Reset ==============*/
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,hr,th,td {
	margin:0; 
	padding:0;
}

/*--------------------
General ============*/
body {
	-webkit-font-smoothing: antialiased;
}

a, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

a:hover {
	color: #1A1A1A;
    text-decoration:underline;
}

p {
    font-size: 2.2rem;
    line-height: 1.6em;
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 10px;
}

h1,h2,h3 {
    font-family: 'Didact Gothic', sans-serif;
    line-height: 1.6em;
    color: #1A1A1A;
    margin: 10px 0;
}

h4,h5 {
	font-family: 'Didact Gothic', sans-serif;
	line-height: 1.5em;
	color: #111111;
	margin: 10px 0;
}

h1 {
    font-size: 5.7rem;
}

h2 {
    font-size: 3.9rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

ul {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 2.0rem;
	list-style: none;
}
ul li {
  border-bottom: 1px solid #929090;
}

/*li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -0.4em;
    top: 1.4em;
    position: relative;
}*/

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
}

.logo > img {
    max-height: 60px;
    width: auto;
    display: block;
    margin: 35px auto 11px auto;
}
.logo2 > img {
    max-height: 95px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.logo-horiz > a {
    max-height: 28px;
    width: auto;
    display: block;
    margin: 20px 0 0 0;
}
#sidebar {
  margin-top: 45px;
}

.box {
	background: #ccc;
	border-radius: 5px;
	padding:15px 45px;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 23px;
}

#header {
	position: relative;
	margin-bottom: -100px;
	overflow: hidden;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgba(211,211,211,0.1);
}

.content {
    margin-top: 25px;
}

.content {
	position: relative;
    padding: 0 15px;
    z-index: 50;
}

.content section {
	padding: 45px 0;
}

.content section#features:first-child {
	padding: 40px 0;
}

.content section + section:before {
	display: block;
	margin: -50px 15px 50px;
	content: "";
	height: 2px;
	background: #efefef;
}

.content section.separated:before {
	display: none;
}

.content section.separated { 
	border-top: 20px solid #efefef;
	border-bottom: 20px solid #efefef;
	margin: 0 -45px -3px;
	padding: 50px 30px;
}
.top-buffer { margin-top:20px; }

.section-header {
	margin-bottom: 45px;
}

.section-header h2,
.section-header h4 {
	margin: 0;
}

#footer {
  font-size: 1.8rem;
  margin: 50px 0;
}



/*--------------------
Go Top =============*/
div.gotop {
	position: absolute;
	bottom: -35px;
	left: 50%;
	width: 7rem;
	height: 7rem;
	margin-left: -35px;
	background: #ffffff;
	border-radius: 50%;
	border: 3px solid #efefef;
	font-size: 2.2rem;
	line-height: 6.4rem;
	color: #BBBAC0;
	text-align: center;
	cursor: pointer;
}

.gotop:hover {
	color: #ffffff;
}
